# server-root.cnf
[req]
default_bits = 4096
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=AU
ST=NSW
L=Jerrabomberra
O=tekton
OU=pipline
emailAddress=christian.kneale@outlook.com.au
CN=docker-registry.jerra.io
